body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background: linear-gradient(135deg, #FF69B4, #1887e1);
    padding: 20px;
    text-align: center;
    border-radius: 0 0 50% 50%;
  font-family: 'Lucida Handwriting',     cursive;
}

.header-title {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
}

#item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.item {
    width: 45%;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-title {
    font-weight: bold;
    margin-top: 5px;
}

.item-price {
    margin-top: 5px;
}

.offer-button {
    background-color: #318CE7;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.offer-button:hover {
    background-color: #FF69B4;
}

/* Add this style to make the form initially hidden */
.contact-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 90%;
    width: 400px;
    max-height: 90%;
    overflow-y: auto;
}

/* Style for closing the form */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* Adjust form and button styles */
.contact-form input,
.contact-form textarea,
.contact-form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.contact-form textarea {
    height: 100px; /* Adjust height as needed */
}

.contact-form button {
    background-color: #318CE7;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #FF69B4;
}
